@charset "utf-8";


/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
}


/*-------------------------
	Demo page
-------------------------*/

body {
	background-color: #fff;
	font: 16px normal Calibri;
	z-index: -4;
}


/*-------------------------
	File manager
-------------------------*/


.filemanager {
	width: 95%;
	max-width:1340px;
	position: relative;
	margin: 100px auto 50px;
}

@media all and (max-width: 965px) {
	.filemanager {
		margin: 30px auto 0;
		padding: 1px;
	}
}


/*-------------------------
	Breadcrumps
-------------------------*/

footer > a {
    color: #fff;
}

footer > a:hover  {
    color: #fff;
}

a {
    color: #03689b;
}

a:hover {
    color: #0090d8;
}

.filemanager .breadcrumbs {
	color: #000;
	margin-left:20px;
	font-size: 24px;
	font-weight: 700;
	line-height: 35px;
}

.filemanager .breadcrumbs a:link, .breadcrumbs a:visited {
	color: #000;
	text-decoration: none;
}

.filemanager .breadcrumbs a:hover {
	text-decoration: underline;
}

.filemanager .breadcrumbs .arrow {
	color:  #6a6a72;
	font-size: 24px;
	font-weight: 700;
	line-height: 20px;
}


/*-------------------------
	Search box
-------------------------*/


.filemanager .search {
	position: absolute;
	padding-right: 30px;
	cursor: pointer;
	right: 0;
	font-size: 17px;
	color: #000;
	display: block;
	width: 40px;
	height: 40px;
}

.filemanager .search:before {
	content: '';
	position: absolute;
	margin-top:12px;
	width: 10px;
	height: 11px;
	border-radius: 50%;
	border: 2px solid #000;
	right: 8px;
}

.filemanager .search:after {
	content: '';
	width: 3px;
	height: 10px;
	background-color: #000;
	border-radius: 2px;
	position: absolute;
	top: 23px;
	right: 6px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.filemanager .search input[type=search] {
	border-radius: 2px;
	color: #4D535E;
	background-color: #FFF;
	width: 250px;
	height: 44px;
	margin-left: -215px;
	padding-left: 20px;
	text-decoration-color: #4d535e;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	display: none;
	outline: none;
	border: none;
	padding-right: 10px;
	-webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #4d535e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #4d535e;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #4d535e;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #4d535e;
}


/*-------------------------
	Content area
-------------------------*/

.filemanager .data {
	margin-top: 60px;
	z-index: -3;
}

.filemanager .data.animated {
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .data li {
	border-radius: 3px;
	background-color: #373743;
	width: 307px;
	height: 118px;
	list-style-type: none;
	margin: 10px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 0.3em;
	z-index: 1;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.3s background-color;
}

.filemanager .data li:hover {
	background-color: #42424E;

}

.filemanager .data li .selectf {
	position: absolute;
	top: 10px;
	right: 10px;

	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	padding: 10px;
}
.filemanager .data li a {
	position: absolute;
        text-align: left;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.filemanager .data li .name {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	width: 150px;
	white-space: nowrap;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 40px;
}

.filemanager .data li .details {
	color: #b6c1c9;
	font-size: 13px;
	font-weight: 400;
	width: 55px;
	height: 10px;
	top: 64px;
	white-space: nowrap;
	position: absolute;
	display: inline-block;
}

.filemanager .nothingfound {
	background-color: #373743;
	width: 23em;
	height: 21em;
	margin: 0 auto;
	display: none;
	font-family: Arial;
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
	margin: 30px auto;
	top: 3em;
	border-radius: 50%;
	position:relative;
	background-color: #d72f6e;
	width: 11em;
	height: 11em;
	line-height: 11.4em;
}
.filemanager .nothingfound .nofiles:after {
	content: '×';
	position: absolute;
	color: #ffffff;
	font-size: 14em;
	margin-right: 0.092em;
	right: 0;
}

.filemanager .nothingfound span {
	margin: 0 auto auto 6.8em;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	height: 13px;
	position: relative;
	top: 2em;
}

@media all and (max-width:965px) {

	.filemanager .data li {
		width: 100%;
		margin: 5px 0;
	}

}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}


/*-------------------------
		Icons
-------------------------*/

.icon {
	font-size: 23px;
}
.icon.folder {
	display: inline-block;
	margin: 1em;
	background-color: transparent;
	overflow: hidden;
}
.icon.folder:before {
	content: '';
	float: left;
	background-color: #7ba1ad;

	width: 1.5em;
	height: 0.45em;

	margin-left: 0.07em;
	margin-bottom: -0.07em;

	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;

	box-shadow: 1.25em 0.25em 0 0em #7ba1ad;
}
.icon.folder:after {
	content: '';
	float: left;
	clear: left;

	background-color: #a0d4e4;
	width: 3em;
	height: 2.25em;

	border-radius: 0.1em;
}
.icon.folder.full:before {
	height: 0.55em;
}
.icon.folder.full:after {
	height: 2.15em;
	box-shadow: 0 -0.12em 0 0 #ffffff;
}

.icon.file {
	width: 2.5em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-radius: 0.25em;
	color: #FFF;
	display: inline-block;
	margin: 0.9em 1.2em 0.8em 1.3em;
	position: relative;
	overflow: hidden;
	box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}
.icon.file:first-line {
	font-size: 13px;
	font-weight: 700;
}
.icon.file:after {
	content: '';
	position: absolute;
	z-index: -1;
	border-width: 0;
	border-bottom: 2.6em solid #DADDE1;
	border-right: 2.22em solid rgba(0, 0, 0, 0);
	top: -34.5px;
	right: -4px;
}

.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
	box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}
.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
	border-bottom-color: #5649c1;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx {
	box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}
.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
	border-bottom-color: #448353;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd{
	box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
	border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
	box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}
.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
	border-bottom-color: #c6393f;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
	box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
	border-bottom-color: #685f58;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
	box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}
.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
	border-bottom-color: #d65de8;
}

.icon.file.f-js {
	box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.icon.file.f-js:after {
	border-bottom-color: #a69f4e;
}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
	box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
	border-bottom-color: #30837c;
}


/*----------------------------
	The Demo Footer
-----------------------------*/


footer {

	width: 770px;
	font: normal 16px Arial, Helvetica, sans-serif;
	padding: 15px 35px;
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -420px;

	background-color:#1f1f1f;
	background-image:linear-gradient(to bottom, #1f1f1f, #101010);

	border-radius:2px 2px 0 0;
	box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
	z-index:1;
}

footer a.tz{
	font-weight:normal;
	font-size:16px !important;
	text-decoration:none !important;
	display:block;
	margin-right: 300px;
	text-overflow:ellipsis;
	white-space: nowrap;
	color:#bfbfbf !important;
	z-index:1;
}

footer a.tz:before{
	content: '';
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 -53px;
	width: 138px;
	height: 20px;
	display: inline-block;
	position: relative;
	bottom: -3px;
}

footer .close{
	position: absolute;
	cursor: pointer;
	width: 8px;
	height: 8px;
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 0px;
	top:10px;
	right:10px;
	z-index: 3;
}

footer #tzine-actions{
	position: absolute;
	top: 8px;
	width: 500px;
	right: 50%;
	margin-right: -650px;
	text-align: right;
	z-index: 2;
}

footer #tzine-actions iframe{
	display: inline-block;
	height: 21px;
	width: 95px;
	position: relative;
	float: left;
	margin-top: 11px;
}

@media (max-width: 1024px) {
	#bsaHolder, footer{ display:none;}
}

/*----------------------------
	The Checkbox Switch
-----------------------------*/


.switch {
	/*margin: 50px auto;*/
	position: absolute;
	top:0 ;
}

.switch label {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}

.switch input {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

/* DEMO 3 */

.switch.demo3 {
	width: 180px;
	height: 50px;
	width: 63px;
	height: 12px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.switch.demo3 label {
	display: block;
	width: 100%;
	height: 100%;
	background: #a5a39d;
	border-radius: 40px;
	box-shadow:
			inset 0 3px 8px 1px rgba(0,0,0,0.2),
			0 1px 0 rgba(255,255,255,0.5);
}

.switch.demo3 label:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: -8px; right: -8px; bottom: -8px; left: -8px;
	top: -1px; right: -1px; bottom: -1px; left: -1px;
	border-radius: inherit;
	background: #ababab;
	background: -moz-linear-gradient(#f2f2f2, #ababab);
	background: -ms-linear-gradient(#f2f2f2, #ababab);
	background: -o-linear-gradient(#f2f2f2, #ababab);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
	background: -webkit-linear-gradient(#f2f2f2, #ababab);
	background: linear-gradient(#f2f2f2, #ababab);
	box-shadow: 0 0 10px rgba(0,0,0,0.3),
	0 1px 1px rgba(0,0,0,0.25);
}

.switch.demo3 label:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -18px; right: -18px; bottom: -18px; left: -18px;
	top: -5px; right: -5px; bottom: -5px; left: -5px;
	border-radius: inherit;
	background: #eee;
	background: -moz-linear-gradient(#e5e7e6, #eee);
	background: -ms-linear-gradient(#e5e7e6, #eee);
	background: -o-linear-gradient(#e5e7e6, #eee);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
	background: -webkit-linear-gradient(#e5e7e6, #eee);
	background: linear-gradient(#e5e7e6, #eee);
	box-shadow:
			0 1px 0 rgba(255,255,255,0.5);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	-o-filter: blur(1px);
	filter: blur(1px);
}

.switch.demo3 label i {
	display: block;
	height: 100%;
	width: 60%;
	border-radius: inherit;
	background: silver;
	position: absolute;
	z-index: 2;
	right: 40%;
	top: 0;
	background: #b2ac9e;
	background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
	background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
	background: -o-linear-gradient(#f7f2f6, #b2ac9e);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
	background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
	background: linear-gradient(#f7f2f6, #b2ac9e);
	box-shadow:
			inset 0 1px 0 white,
			0 0 8px rgba(0,0,0,0.3),
			0 5px 5px rgba(0,0,0,0.2);
}

.switch.demo3 label i:after {
	content: "";
	position: absolute;
	left: 15%;
	top: 25%;
	width: 70%;
	height: 50%;
	background: #d2cbc3;
	background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
	background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
	background: -o-linear-gradient(#cbc7bc, #d2cbc3);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
	background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
	background: linear-gradient(#cbc7bc, #d2cbc3);
	border-radius: inherit;
}

.switch.demo3 label i:before {
	content: "no";
	text-transform: uppercase;
	font-style: normal;
	/*font-weight: bold;*/
	color: rgba(0,0,0,0.4);
	color: rgba(0, 0, 0, 0.74);
	/*text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;*/
	font-family: Helvetica, Arial, sans-serif;
	font-size: 8px;
	position: absolute;
	top: 50%;
	top: 100%;
	margin-top: -10px;
	right: -75%;
	width: inherit;
}

.switch.demo3 input:checked ~ label {
	background: #9abb82;
	background: #bb1530;
}

.switch.demo3 input:checked ~ label i {
	right: -1%;
}

.switch.demo3 input:checked ~ label i:before {
	content: "zip it";
	right: 100%;
	color: #82a06a;
	color: #ffffff;
	/*text-shadow:*/
			/*0 1px 0 #afcb9b,*/
			/*0 -1px 0 #6b8659;*/
}

#zipinfo {
    top: 12px;;
    /*position: absolute;*/
    /*right: 40px;*/
    /*width: 380px;*/
    display: none ;
    color: white;
    margin-left: 20px;
}
#zipinfo a {
    color: red;;
    margin-left:1em;
}
#zipinfo input[type=submit] {
	border : solid 0px #f51e1e;
	border-radius : 7px;
	moz-border-radius : 7px;
	-webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
        font-size: 15px;
        font-weight: 700;
	/*color : #d1ff6e;*/
	padding : 1px 10px;
        /*
	background : #5f1e1e;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f1e1e), color-stop(100%,#f51e1e));
	background : -moz-linear-gradient(top, #5f1e1e 0%, #f51e1e 100%);
	background : -webkit-linear-gradient(top, #5f1e1e 0%, #f51e1e 100%);
	background : -o-linear-gradient(top, #5f1e1e 0%, #f51e1e 100%);
	background : -ms-linear-gradient(top, #5f1e1e 0%, #f51e1e 100%);
	background : linear-gradient(top, #5f1e1e 0%, #f51e1e 100%);
        */
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f1e1e', endColorstr='#f51e1e',GradientType=0 );
	cursor: pointer;
}

.previewimage {
    max-width: 300px;
    max-height:300px;
}

#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;}

.login {
    padding: 2%;
    width: 25%;
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
    background: #F5F5F5;
    box-shadow: 0 0 5px #fff;
}

.login > form {
    margin: 10px;
}

.form-field {
    margin: 5px;
}

.form-input {
    width: 50%;
    font-size: 14pt;
    border-radius: 2px;
    border: 1px #bcbcbc solid;
    background-color: #ededed;
    padding: 10px;
    font-family: serif;
    color: #696969;
}


.btn {
    padding: 10px;
    width: 200px;
    background: rgb(38, 177, 84) none repeat scroll 0% 0%;
    border: 0px none;
    margin: 5px;
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: serif;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.btn:disabled{
    cursor: default;
    background: #B4B4B4;
}

.btn:hover:enabled {
    border-radius: 3px;
    box-shadow: 0 0 1px green;
}

p {
    color: #000;
}

.login > p, .login > h1, .login > h2, .login > h3 {
    
    color: #757575;
    
}

.helper, .frontHelper{
    display: none;
    color: #bb1530;
}


.nav {
    
    padding: 20px;
    height: 30px;
    box-shadow: 0 1px 5px #eee;
    
    background: rgba(135,135,135,1);
    background: -moz-linear-gradient(top, rgba(135,135,135,1) 0%, rgba(71,71,71,1) 68%, rgba(66,66,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,135,135,1)), color-stop(68%, rgba(71,71,71,1)), color-stop(100%, rgba(66,66,66,1)));
    background: -webkit-linear-gradient(top, rgba(135,135,135,1) 0%, rgba(71,71,71,1) 68%, rgba(66,66,66,1) 100%);
    background: -o-linear-gradient(top, rgba(135,135,135,1) 0%, rgba(71,71,71,1) 68%, rgba(66,66,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(135,135,135,1) 0%, rgba(71,71,71,1) 68%, rgba(66,66,66,1) 100%);
    background: linear-gradient(to bottom, rgba(135,135,135,1) 0%, rgba(71,71,71,1) 68%, rgba(66,66,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#424242', GradientType=0 );
    
}

.brand {
    color: #fff;
    cursor: pointer;
    float: left;
    margin: 0px;
}

.right {
    float: right;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li a {
    display: block;
    color: white;
    text-align: center;
    margin-right: 15px;
    text-decoration: none;
    font-size: 16px;
}

li a:hover{
    color: #4CAF50;
}

.active {
    color: #4CAF50;
}


.panel {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 10px;
    min-height: 300px;
    
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

}

h1, h2, h3, h4, h5, h6 {
    margin: 15px;
}

table {
    margin-top: 20px;
    width: 100%;
}

.pdfpreview {
    
    width: 80% !important;
    height: 500px !important;
    left: 10% !important;
    
}

.logo {
    text-align: center;
    max-width: 100%;
    margin-top: 5%;
}

tr > td{
    padding-bottom: 1.5em;
}

.panel > form{
    margin-top: 25px;
}


.action-btn {
    padding: 10px;
    margin: 10px;
    border-radius: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.duplicate {
    background: #6239D1;
    border: 1px #43219F solid;
}

.view {
    background: #3498DB;
    border: 1px #1B6EA5 solid;
}

.edit {
    background: #16E67F;
    border: 1px #0DA258 solid;
}

.delete {
    background: #DB1B51;
    border: 1px #A4103A solid;
}

.duplicate:hover{
    box-shadow: 0 0 3px #6239D1;
}

.view:hover{
    box-shadow: 0 0 3px #3498db;
}

.edit:hover{
    box-shadow: 0 0 3px #16E67F;
}

.delete:hover{
    box-shadow: 0 0 3px #DB1B51;
}


@media all and (min-width: 890px) {

    .toggle-nav {
        display:none;
    }


    .nav-ul {
        position:relative;
        display:inline-flex;
    }

}

@media all and (max-width: 890px) {
    input[type="text"], input[type="password"], input[type="button"] {
        width: 90%;
    }
    
    .panel {
        margin-top: 5%;
    }
    
    
    .nav-ul {
        display: none;
        width:100%;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
        z-index: 9999;
    }
 
    .nav-ul ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }
 
    .nav-ul ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }
 
    .nav-ul li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
        padding: 10px;
    }
 
    .nav-ul a {
        display:block;
        text-align: center;
    }
 
    .toggle-nav {
        padding:10px;
        position: fixed;
        right:0px;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#fff;
        font-size:20px;
        transition:color linear 0.15s;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }
    
}

.blue {
    background-color: #3498db;
}

.last{
    margin-top: 30px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:750px;
    max-height: 500px;
    width:90%;
    padding:40px;
    position:absolute;
    top:40%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    overflow-y: scroll;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:30px;
    right:30px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}


.left {
    float: left;
}

label {
    cursor: pointer;
}

.margin-left-15{
    margin-left: 15px;
}

.margin-top-15{
    margin-top: 15px;
}

ul > li > ul > li.pft-directory{
    margin-left: 15px;
}

ul > li > ul > li {
    margin: 0;
}

.checkedSoFar {
    color: #000;
}

#form > .helper {
    width: 50%;
    background: #BB1530;
    padding: 10px;
    border-radius: 3px;
    border: 1px #57010F solid;
    color: #fff;
}

#form > .frontHelper {
    width: 90%;
    background: #BB1530;
    padding: 10px;
    border-radius: 3px;
    border: 1px #57010F solid;
    color: #fff;
}

.success {
    background: #26B154 !important; 
    border:1px #0B6328 solid !important;
}

.loading {
  display: none;
  margin: 10px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(52,152,219, 0.2);
  border-right: 1.1em solid rgba(52,152,219, 0.2);
  border-bottom: 1.1em solid rgba(52,152,219, 0.2);
  border-left: 1.1em solid #3498DB;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loading,
.loading:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




.frontLoading {
  display: none;
  margin: auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(52,152,219, 0.2);
  border-right: 1.1em solid rgba(52,152,219, 0.2);
  border-bottom: 1.1em solid rgba(52,152,219, 0.2);
  border-left: 1.1em solid #3498DB;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.frontLoading,
.frontLoading:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.bold {
    font-weight: bold;
}

.content{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.link {
    float: right;
    color: #000;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}



::-webkit-input-placeholder {
   color: #B4B4B4;
}

:-moz-placeholder { /* Firefox 18- */
   color: #B4B4B4;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #B4B4B4;  
}

:-ms-input-placeholder {  
   color: #B4B4B4;  
}

